{% extends 'base.html' %}
{% block site %}
 <style>
        body {
            font-family: Arial, sans-serif;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: none;
            padding: 10px;
        }

        .search-bar {
            width: 300px;
        }

        .news-item {
            display: flex;
            border: none;
            margin: 10px 0;
            padding: 10px;
        }

        .news-image {
            width: 150px;
            height: 240px;
            margin-right: 40px;
            margin-left: 20px;
        }

        .news-title {
            font-weight: bold;
            font-size: 18px;
        }

        .news-description {
            font-size: 18px;
        }
    </style>

<form action="" method="get"> {# форма для передачи из нтмл файла во вью  #}
<select id="sort" name="sort">
    <option value="date_of_create" {% if request.GET.sort == 'date_of_create' %}selected{% endif %}>Date of create</option>
    <option value="rating" {% if request.GET.sort == 'rating' %}selected{% endif %}>Rating</option>
    <option value="rating_popular" {% if request.GET.sort == 'rating_popular' %}selected{% endif %}>Rating-popular</option>

</select>
<button> Submit </button>
</form>
    <br>
    <form action="" method="get">
<select id="order" name="order">

    <option value="back_order" {% if request.GET.order == 'back_order' %}selected{% endif %}>Back order</option>
    <option value="wright_order" {% if request.GET.order == 'wright_order' %}selected{% endif %}>Wright order</option>
</select>
<button> Submit </button>
</form>
<br>

{% for new in news_list %}
    <div class="news-item">
    <img class="news-image" src="/media/{{ new.image }}">
         <div>
    <h2 class = "news-title"> {{ new.title }}</h2>
    <p class = "news-description"> {{ new.context }}</p>
    <a href="{% url "newspage" new.id %}">Read news</a>

        </div>
    </div>
    <hr>
    {% endfor %}

{% endblock %}
